.ant-btn-primary{
  background-color: rgb(168, 6, 0);
  border-radius: 7px;
  margin-left: 20px;
  border: 2px solid lightgray;
}

.ant-btn-primary:hover{
  background-color:darkgreen;
}

.ant-input-affix-wrapper{
  width: 35%;
  border-radius: 5px;
  border: 2px solid lightgray;
  margin-top: 10px;
}

.float-right{
  float: right;
  margin-left: 7px;
  margin-top: 5px;

}

.todo-item-border{
  margin: auto;
  margin-top: 10px;
  width: 60%;
  padding: 7px;
  border: 2px solid gray;
  border-radius: 5px;
  word-break: break-word;
  text-align: justify;
  cursor:pointer;
  font-size: 17px;
}

.todo-item-border:hover{
  background-color: #616161; ;
  cursor:pointer;
}

.done{
  text-decoration: line-through 3px solid rgb(165, 3, 3);
  color: lightgray;
}

.inline{
  display:inline-block;
}

.button{
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}

.input-field{
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
}

.Modal{
  background-color: rgb(197, 196, 196);
}



