.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}

.input-field{
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 40%;
}

.todo-item-border{
  margin: auto;
  margin-top: 3px;
  width: 60%;
  padding: 5px;
  border: 2px solid black;
  word-wrap: break-word;
}

.delete-button{
  float: right;
}

.done{
  text-decoration: line-through;
}

.navigation-tab{
  margin-left: 10px;
  text-decoration: none;
  color: darkblue;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 3px;
}

.navigation{
  text-align: left;
}