.App {
  text-align: center;
}

h1{
  color: #cacaca;
}

body{
  background-color: #383838;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

  color: #ffffff;
  -webkit-transition: color 1500ms ease-in;
  -ms-transition: color 1500ms ease-in;
  transition: color 1500ms ease-in;
}

.button{
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}

Input.input-field{
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  width: 450 ;
}

.todo-item-border{
  margin: auto;
  margin-top: 3px;
  width: 60%;
  padding: 5px;
  border: 2px solid black;
  word-wrap: break-word;
}

.done{
  text-decoration: line-through;
}

.navigation-tab{
  margin-left: 10px;
  text-decoration: none;
  color: rgb(218, 39, 68);
  border: 2px solid rgb(104, 103, 103);
  padding: 7px;
  border-radius: 3px;
}

.navigation-tab:hover{
  background-color: rgb(88, 15, 15);
  color: rgb(170, 170, 170);
  border: 2px solid rgb(88, 15, 15);
}

.navigation{
  text-align: left;
  margin-top: 20px;
}
